.mainTopicPic {
    width: 100%;
    background-size: cover;
    display: block;
    height: 800px;
}

.bigTitle {
    text-align: center;
    font-size: 50px;
}

.overview-obj {
    margin-left: 6%;
    font-size: 30px;
    
}

.para-obj {
    margin-left: 6%;
    margin-right: 6%;
    font-size: 25px;
    text-align: justify; 
}

.list-btn-topic {
    list-style-type: none;
    margin-left: 4%; 
    margin-right: 4%; 
    padding: 15px 15px 0px 0px;

}

.topic-btn {
    width: 100%;
    display: block;
    padding: 28px 42px;
    font-size: 23px;
    text-align: left;
    cursor: pointer;
    
}
